<ion-content [fullscreen]="true">
  <app-header
    [labelName]="'Quiz Setup'"
  ></app-header>

  <ion-grid class="theme-grid">
    <form [formGroup]="quizSetupDataForm">
      <ion-row class="margin-top">
        <ion-input
          class="input-class-form"
          placeholder="Enter student name"
          formControlName="studentName">
        </ion-input>
      </ion-row>
  
      <ion-row>
        <ion-item class="width-100">
          <ion-label>Select Class</ion-label>
          <ion-select
            (ionChange)="onChangeSelectClass($event)"
            formControlName="studentClass">
            <ion-select-option 
              *ngFor="let item of classLists" 
              [value]="item.className">{{item.className}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>

      <ion-row *ngIf="openQuiz" class="margin-top">
        <ion-item class="width-100">
          <ion-label>Select Quiz</ion-label>
          <ion-select
            formControlName="quiz">
              <div *ngFor="let item of quizLists; let i = index" >
                <ion-select-option 
                  *ngIf="item.class === selectedClass && !includedQuiz.includes(i)"
                  [value]="i"
                >{{item.subject}}
              </ion-select-option>
            </div>
          </ion-select>
        </ion-item>
      </ion-row>
  
      <ion-row class="margin-top">
        <ion-col>
          <ion-button 
            class="submit" 
            (click)="onClickSubmit()"
            [ngClass]="quizSetupDataForm.invalid ? 'disable-btn' : ''"
            [disabled]="quizSetupDataForm.invalid"
            >
            Submit
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="onClickCancel()" class="cancel">
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
