<div [class]="currentMode">
  <ion-grid>
    <ion-row>
      <div class="class-title margin-center">
        Teacher Pass Code
      </div>
    </ion-row>

    <form [formGroup]="passcodeDataForm">
      <div class="position-relative">
        <ion-input
          class="input-class-form"
          placeholder="Enter pass code"
          type="number"
          formControlName="passcode">
        </ion-input>
        <span class="span-error" *ngIf="error">Pass code incorrect</span>
      </div>

      <ion-row>
        <ion-col>
          <ion-button 
            class="submit" 
            [disabled]="passcodeDataForm.invalid"
            (click)="onClickSubmit()"
            >
            Submit
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="onClickCancel()" class="cancel">
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  
</div>