.icon-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  // height: 58%;
  border-left: .5px solid #c8c8c8;
  // padding-left: 5vw;

  .icon{
    color: #eb445a;
  }
}

.row-item{
  border-top: .5px solid #c8c8c8;
}

.list-item{
  border-bottom: .5px solid #c8c8c8;
}

.margin-top{
  margin-top: 5vw;
}

.message{
  // background: #fff;
  text-align: center;
  padding: 3vw 0;
  width: 100%;
}
