<ion-content>
  <app-header
    [labelName]="'Quiz Lists'"
  ></app-header>

  <ion-grid class="theme-grid">

    <ion-row>
      <ion-item class="width-100">
        <ion-label>Select Class</ion-label>
        <ion-select
          (ionChange)="onChangeSelectClass($event)"
          [(ngModel)]="selectedClass">
          <ion-select-option 
            *ngFor="let item of classLists" 
            [value]="item.className">{{item.className}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-row *ngIf="!openLists && isSelected">
      <div class="margin-top title margin-center">
        No Record Found
      </div>
    </ion-row>

    <ion-row class="margin-top row-item title" *ngIf="openLists">
      <ng-container *ngFor="let item of quizLists; let i = index">
        <ion-row 
          class="width-100 list-item"
          *ngIf="item.class === selectedClass">
          <ion-col size="10" (click)="openQuizRecord(i)">
            <ion-row>
              <ion-col size="7.5">
                Title: {{item.subject}}
              </ion-col>
              <ion-col size="4.5">
                Items: {{item.items}}
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="2" class="icon-container">
            <ion-icon 
              (click)="onClickDeleteQuiz(i)"
              class="icon" 
              name="trash-outline"></ion-icon>
          </ion-col>

          <span class="message title" *ngIf="selectedIndex === i && openNoRecord">
            Quiz not yet taken
          </span>
        </ion-row>
      </ng-container>

    </ion-row>

  </ion-grid>
</ion-content>