<ion-content>
  <app-header
    [labelName]="'ThinkSync'"
  ></app-header>

  <ion-grid class="theme-grid">
    <ion-row class="sync-title title">
      <!-- <div class="margin-center">
        ThinkSync
      </div> -->
      <img class="img" src="../../../assets/icon/logo.png">

    </ion-row>

    <ion-row>
      <ion-button (click)="onClickCreateQuiz()" class="margin-center">
        Create a quiz
      </ion-button>
    </ion-row>

    <ion-row>
      <ion-button (click)="onClickTakeQuiz()" class="margin-center">
        Take a quiz
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>


