<div class="quiz-div" [class]="currentMode">
  <div (click)="onClickCancel()" class="icon-holder">
    <ion-icon name="close-circle-outline"></ion-icon>
  </div>
  <ion-grid>
    <ion-row>
      <div class="class-title margin-center">
        Quiz Preview
      </div>
    </ion-row>

    <ion-row *ngFor="let item of quiz">
      <ion-col>
        <ion-label>
          {{ item.number }}. {{ item.question }}
        </ion-label>
        <ion-row *ngFor="let choice of item.choices.inputValues.slice(0, -1); let i = index">
          <ion-label>
            {{ getChoiceLabel(i) }}. {{ choice }}
          </ion-label>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button 
          class="submit" 
          (click)="onClickSave()"
          >
          Save
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="onClickCancel()" class="cancel">
          Cancel
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</div>