<ion-content [fullscreen]="true">
  <app-header
    [labelName]="'Manage Class'"
  ></app-header>

  <ion-grid class="theme-grid">
    <ion-row class="ion-justify-content-center no-class title" *ngIf="class.length === 0">
      <div>
        No Class
      </div>
    </ion-row>

    <div class="class-table" *ngIf="class.length > 0">
      <ion-row>
        <ion-col class="table-col  margin-center title" *ngFor="let item of header">
          {{item}}
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of class; let i = index">
        <ion-col class="table-col title">
          {{i+1}}
        </ion-col>
        <ion-col class="table-col title">
          {{item.className}}
        </ion-col>
        <ion-col class="table-col title">
          {{item.classPasscode}}
        </ion-col>
        <ion-col class="table-col title">
          <div class="icon-container">
            <ion-icon (click)="onClickEdit(item.className, item.classPasscode)" class="pencil" name="pencil-outline"></ion-icon>
            <!-- <ion-icon class="trash" name="trash-outline"></ion-icon> -->
          </div>
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-button (click)="onClickAddClass()" class="margin-center">
        Add
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
