.no-class{
  margin: 10vw;
}

ion-button{
  width: 200px;
}

.class-table{
  border: 1px solid grey;
  
  .table-col{
    border: 1px solid grey;

    .icon-container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .trash{
        color: #eb445a;
      }

      .pencil{
        color: #2fdf75;
      }
    }

    .icon-container ion-icon {
      padding-right: 10px;
    }
  }
}