/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.small-modal{
  &::part(content){
    // position: fixed;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    margin: auto;
    height: auto; /* Set the maximum height of the modal to 90% of the viewport height */
    width: 90%;
    border-radius: 25px;
    background: #fff;
  }
}

.quiz-modal{
  &::part(content){
    // position: fixed;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    margin: auto;
    height: 90vh; /* Set the maximum height of the modal to 90% of the viewport height */
    width: 90%;
    border-radius: 25px;
    background: #fff;
  }
}

.quiz-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.quiz-modal ion-grid {
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
}


.no-margin{
  margin: 0;
}

// .title{
//   color: red !important;
// }



/* Light theme */
.light-theme {

  font-family: "okfont-rg";

  .title{
    color: #000;
  }

  .header-toolbar{
    --background: #f5f5f5;
  }
  
  .theme-grid{
    height: 91%;
    background: #ffffff;
    // font-size: 3.2vw;
  }

  .theme-grid2{
    height: 100%;
    background: #ffffff;
  }

  .menu-list{
    background: #ffffff;
  }

  .menu-item{
    --background: #ffffff;
  }
}

/* Dark theme */
.dark-theme {

  font-family: "okfont-rg";

  .title{
    color: #fff;
  }

  .header-toolbar{
    --background: #252525;
  }
  
  .theme-grid{
    height: 91%;
    background: #1f1f1f;
    // font-size: 3.2vw;
  }

  .theme-grid2{
    height: 100%;
    background: #1f1f1f;
  }

  .menu-list{
    background: #1f1f1f;
  }

  .menu-item{
    --background: #1f1f1f;
  }
}

.margin-center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.input-class-form{
  // border-radius: 50px;
  // border: 2px solid #3C00B3;
  --padding-end: 4vw;
  --padding-start: 4vw;
  --placeholder-color: #858585 !important;
  background: #F3F3F3;
  color: #858585;
  margin-bottom: 8vw;
}

.quiz-area{
  --padding-end: 4vw;
  --padding-start: 4vw;
  --placeholder-color: #858585 !important;
  background: #F3F3F3;
  color: #858585;
  margin-bottom: 4vw;
}

.cancel{
  --background: #eb445a;
  width: 100%;
}

.submit{
  width: 100%;
}

.disable-btn{
  --background: grey;
}

.position-relative{
  position: relative;
}

.span-error{
  color: #eb445a;
  font-size: 3vw;
  position: absolute;
  bottom: -5vw;
}

.class-title{
  padding: 5vw;
  color: #000;
}

.width-100{
  width: 100%;
}

.width-200{
  width: 200px;
}