<ion-content [fullscreen]="true">
  <app-header
    [labelName]="'Answer Quiz'"
  ></app-header>

  <ion-grid class="theme-grid">
    <form [formGroup]="answerDataForm">
      <div class="take-div">
        <ion-row *ngFor="let item of quiz; let i = index">
          <ion-col>
            <div class="question-div">{{i+1}}. {{item.question}}</div>
            <ion-radio-group formControlName="answer_{{i}}">
              <ion-item  
                *ngFor="let choice of item.choices.inputValues.slice(0, -1); let j = index">
                <ion-label>{{ getChoiceLabel(j) }}. {{choice}}</ion-label>
                <ion-radio [value]="getChoiceLabel(j)"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-col>
        </ion-row>
      </div>

      <ion-row class="margin-top">
        <ion-col>
          <ion-button 
            class="submit" 
            (click)="onClickSubmit()"
            >
            Submit
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="onClickCancel()" class="cancel">
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>
  